<!DOCTYPE html>
<html>
<head>
  <title>Babaexpress</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body >
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header"></div>
        <p class="navbar-brand">
        BabaExpress </p>
      <div id="navbar">
      </div>
      <div "nav navbar-nav navbar-right">
      <%= form_tag(products_path, method: :get, class: "navbar-form navbar-right") %>
        <%= text_field_tag(:query, params[:query], placeholder: 'Search query', class: "form-control") %>
        <%= submit_tag("Find", class: "btn btn-default") %>
      </div>
    </div>
  </nav>

  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
