<!DOCTYPE html>
<html>
<head>
  <title>Babaexpress</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body >
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header"></div>
        <a class="navbar-brand" href=<%=root_path%> >
        BabaExpress </a>

      <ul class="nav navbar-nav navbar-right">

        <li> 
          <%= link_to("Sign In", new_user_session_path, method: 'get', class: "btn btn-default", id: "sign_in_button") %>
        </li>

        <li> 
          <%= form_tag(products_path, method: :get, class: "navbar-form navbar-right") do %>
            <%= text_field_tag(:query, params[:query], placeholder: 'Search query', class: "form-control") %>
            <%= submit_tag("Find", class: "btn btn-default") %>
          <% end %> 
        </li>
      </ul> 
    </div>
  </nav>

  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
